#doesn't upload the mp3 used for alarm
*.mp3
#doesn't upolad .outs, usually would just be test outputs like a.out
*.out
#doesn't upload the dir encode/
encode

#temporary for testing
*.encode
*.test
.dirTree.txt
.dirTree_CLEAN.txt
.fileLineSwap.txt
.tree.txt
.tree_CLEAN.txt
.tree_Final.txt
.tree_FINAL.txt

*.day
